html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/pano.jpg");
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 50px;
}

li a:link, li a:visited {
    color: #000;
    text-decoration: none;
}

li a:hover, li a:active {
    color: #000;
    text-decoration: underline;
}

.menureference {
    position: fixed;
    padding-top: auto;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
}

.menulogo {
    height: 80%;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 50px;
    float: left;
}

.margin20 {
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    height: 100%;
    background-color: #FFF;
}

.project-feed {
    margin: 5%;
    background-color: #333;
    height: 90%
}