html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    top: 50px;
    max-height: 100%;
    background-image: url("../images/pano.jpg");
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 50px;
}

h1, b, text, p {
    font-family: Bahnschrift, sans-serif;
}

li a:link, li a:visited {
    color: #000;
    text-decoration: none;
}

li a:hover, li a:active {
    color: #000;
    text-decoration: underline;
}

.menureference {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
}

.menulogo {
    height: 80%;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 50px;
    float: left;
}

.margin20 {
    box-sizing: border-box;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    min-height: 100%;
    background-color: #FFF;
}

.margin20 p {
    color: grey;
}

.feed-background {
    margin: 0 0 15px 0;
    box-shadow: 0 0 10px #b1b1b1;
    border-radius: 10px;
    height: auto;
}

.feed-background .header {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.header p {
    margin: 8px 0 0 0;
}

.content iframe {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}

.feed-background .reference {
    box-sizing: border-box;
    padding: 2px 10px 2px 10px;
    height: 40px;
}

.reference a {
    text-decoration: none;
}

.reference a img {
    height: 32px;
}

.hidden {
    display: none;
}